@import '../external_css/baguetteBox.css';
html, body {
  max-height: 100%;
  max-width: 100%;
}

img {
  background-color: none;
  width: 100%;
}

.row {
  width: 100vw;
}

.gutter {
  height: 50px;
}

.sectionTitle {
  width: 100%;
  height: 15px;
  text-align: center;
}

@font-face {
  font-family: "BebasNeue Light";
  src: url("../fonts/BebasNeueLight.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue Regular";
  src: url("../fonts/BebasNeueRegular.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue Bold";
  src: url("../fonts/BebasNeueBold.ttf") format("truetype");
}
@font-face {
  font-family: "DolceVita";
  src: url("../fonts/DolceVita.ttf") format("truetype");
}
@font-face {
  font-family: "DecoTech";
  src: url("../fonts/DecoTech.ttf") format("truetype");
}
@font-face {
  font-family: "DecoTechTL";
  src: url("../fonts/DecoTechTL.ttf") format("truetype");
}
#codTop {
  width: 100%;
  height: 50px;
}

#codHeader {
  margin-bottom: 150px;
}

#codHRow {
  height: 80px;
}

.codWrapper {
  height: 100vh;
  background-color: white;
  margin-top: 50px;
}

#codText {
  width: 100%;
  margin: auto;
  text-align: center;
}

#gitLink {
  color: red;
  text-decoration: none;
}

#gitLink:visited {
  color: red;
}

#gitLink:hover {
  color: black;
}

.footer {
  height: 100px;
  background-color: #F5CF1A;
}

.header {
  background-color: #F5CF1A;
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;
}

.header_parallax {
  background-image: url("../../images/logo-me-big.png");
  background-attachment: fixed;
  background-position: center top 55%;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  max-width: 100%;
}

.nameBox {
  font-family: "DecoTech";
  display: flex;
  float: left;
  flex-direction: column;
  width: 375px;
  text-align: right;
  margin-left: 12%;
  margin-top: 20%;
}

.nameHead {
  width: 100%;
  font-size: 7vw;
  margin: 0;
}

.subBox {
  font-family: "DolceVita";
  display: flex;
  flex-direction: column;
  width: 300px;
  float: right;
  margin-right: 20%;
  margin-top: 23%;
}

.titleSubH {
  font-size: 3vw;
  margin: 0;
}

#warning {
  font-size: 25px;
  margin-top: 70px;
  margin-left: auto;
  text-align: center;
}

.lbWrapper {
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.lbSubHead {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.lightbox {
  margin: auto;
  display: block;
  overflow-x: scroll;
  text-align: center;
}

.lightbox a {
  width: 140px;
  height: 140px;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  object-fit: contain;
}

#mgHead {
  margin-bottom: 80px;
}

.motionGraphicsWrapper {
  height: 100vh;
  background-color: white;
  margin-top: 25px;
}

.navbarSticky {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  height: 50px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 5;
}

.navChild {
  margin: auto;
}

.pageJump {
  text-decoration: none;
  color: white;
}

.pageJump:visited {
  color: white;
}

.pageJump:hover {
  color: #F5CF1A;
}

.btnWrap {
  width: 100%;
  height: 120px;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.btnWrap2 {
  margin-top: 100px;
}

.smoothScrl {
  background-color: none;
}

.scrlDwn {
  background-image: url("../../images/half-circle-btn-down.png");
}

.scrlDwn:hover {
  background-image: url("../../images/half-circle-btn-down_inv.png");
  transform: scale(1.15);
  transform-origin: bottom center;
  transition: 0.3s ease-in-out;
}

.scrollBtn {
  margin: auto;
  display: block;
  width: 250px;
  height: 120px;
  text-indent: -9999px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s ease-in-out;
}

#lbButton {
  margin-top: 10px;
}

.video-playerWrap {
  width: 100%;
  max-width: 350px;
  display: inline-flex;
  height: 160px;
}

.video-player__dimensions {
  max-height: 150px;
}

.videoRow {
  align-content: center;
  text-align: center;
  margin-bottom: 25px;
}

.repLink {
  color: white;
  text-align: center;
  background-color: orange;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
