@import '../external_css/baguetteBox.css';
.abmeWrapper {
  min-height: 100vh;
  background-color: white;
  margin-top: 25px;
  margin-left: 0;
}

.textContain {
  margin-top: 15px;
  margin-left: 0;
  font-size: 14px;
  font-family: "CenturyGothic Regular";
}

.textContain .row {
  margin-left: 0;
}

#mePicHolder {
  height: 500px;
  background-repeat: no-repeat;
  background-image: url("../../images/me.jpg");
  background-size: 300px;
  background-position: top center;
}

#abmeHead {
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  #mePicHolder {
    background-size: 400px;
  }
}
html, body {
  max-height: 100%;
  max-width: 100%;
}

h2 {
  margin: 0;
}

img {
  background-color: none;
  width: 100%;
}

.row {
  width: 100vw;
  margin-left: -15px;
  margin-right: -15px;
}

.gutter {
  height: 50px;
}

.sectionTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.sectionTitle h2 {
  font-family: "DecoTechTL";
  font-size: 50pt;
}
.sectionTitle p {
  font-family: "CenturyGothic Regular";
}

@font-face {
  font-family: "BebasNeue Light";
  src: url("../fonts/BebasNeueLight.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue Regular";
  src: url("../fonts/BebasNeueRegular.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue Bold";
  src: url("../fonts/BebasNeueBold.ttf") format("truetype");
}
@font-face {
  font-family: "DolceVita";
  src: url("../fonts/DolceVita.ttf") format("truetype");
}
@font-face {
  font-family: "DecoTech";
  src: url("../fonts/DecoTech.ttf") format("truetype");
}
@font-face {
  font-family: "DecoTechTL";
  src: url("../fonts/DecoTechTL.ttf") format("truetype");
}
@font-face {
  font-family: "CenturyGothic Regular";
  src: url("../fonts/GOTHIC.TTF") format("truetype");
}
@font-face {
  font-family: "CenturyGothic Bold";
  src: url("../fonts/GOTHICB.TTF") format("truetype");
}
#codTop {
  width: 100%;
  height: 50px;
}

#codHeader p {
  margin-top: 15px;
}

#codHRow {
  min-height: 130px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
}

.codWrapper {
  min-height: 100vh;
  background-color: white;
  margin-left: 0;
}

#codText {
  width: 100%;
  margin: auto;
  text-align: center;
}

#gitLink {
  color: red;
  text-decoration: none;
}

#gitLink:visited {
  color: red;
}

#gitLink:hover {
  color: black;
}

.contactWrapper {
  font-family: "CenturyGothic Regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background-color: #2D2D2D;
  margin-left: 0;
  text-align: center;
  color: white;
  overflow: hidden;
}
.contactWrapper .sectionTitle {
  margin-bottom: 0;
}
.contactWrapper p {
  word-wrap: break-word;
}
.contactWrapper ul {
  padding-left: 0;
  word-wrap: break-word;
}
.contactWrapper a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.contactWrapper a:hover {
  color: #F5CF1A;
}

.contTitle {
  font-family: "CenturyGothic Bold";
  font-size: 16pt;
}

.contLiPad {
  margin-top: 15px;
}

.coSoonTitle {
  font-size: 16pt;
  font-family: "CenturyGothic Bold";
}

.coSoonBox {
  border: 1px solid white;
  width: 20%;
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 35px;
}

.footer {
  height: 120px;
  background-color: #F5CF1A;
  margin-left: 0;
  text-align: center;
}

.announceBox {
  width: 80%;
  margin: auto;
  padding: 5px;
  border: 1px solid black;
  font-size: 15px;
}
.announceBox #annTitle {
  font-family: "CenturyGothic Bold";
  line-height: 130%;
}
.announceBox #annBody {
  font-family: "CenturyGothic Regular";
  line-height: 130%;
  background-color: none;
  margin-bottom: 3px;
}
.announceBox a {
  color: black;
  border: 0.5px solid black;
  padding: 0px 6px 1px 5.5px;
  border-radius: 15px;
  transition-duration: 0.3s;
}
.announceBox a:hover {
  color: #F9F9F9;
  border: 0.5px solid #F9F9F9;
  transition-duration: 0.2s;
}

.header {
  background-color: #F5CF1A;
  min-height: 100vh;
  overflow-y: hidden;
  width: 100vw;
}

.header_parallax {
  background-image: url("../../images/logo-me-big.png");
  background-attachment: fixed;
  background-position: center top 55%;
  background-repeat: no-repeat;
  background-size: 30vw;
  max-width: 100%;
}

.nameBox {
  font-family: "DecoTech";
  display: inline-block;
  height: 250px;
  width: 80%;
  margin-top: 40vh;
  margin-left: 0;
  font-size: 9vw;
  text-align: center;
  line-height: 100%;
}
.nameBox #nameName {
  margin-bottom: 0;
}
.subBox {
  font-family: "DolceVita";
  text-align: center;
  width: 100;
  margin-top: 44vh;
  font-size: 4vw;
  line-height: 100%;
}
.subBox ul {
  padding: 0;
}

.ulSpin {
  transition-duration: 0.2s;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.ulSpin:hover {
  cursor: default;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition-duration: 0.4s;
}

@media only screen and (max-width: 767px) {
  .header_parallax {
    background-size: 30vw;
  }

  .nameBox {
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 12vw;
    width: 70%;
    height: 20vh;
    text-align: center;
    line-height: 100%;
  }

  .subBox {
    margin-top: 44vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4vw;
    line-height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .header_parallax {
    background-size: 45vw;
  }

  .nameBox {
    margin-top: 12vh;
    font-size: 13vw;
  }

  .subBox {
    margin-top: 45vh;
    font-size: 5vw;
  }
}
@media only screen and (max-width: 400px) {
  .header_parallax {
    background-size: 60vw;
  }

  .nameBox {
    margin-top: 15vh;
    font-size: 18vw;
  }

  .subBox {
    margin-top: 40vh;
    font-size: 7vw;
    width: 100%;
  }
}
@media only screen and (max-width: 300px) {
  .nameBox {
    margin-top: 17vh;
    font-size: 25vw;
    width: 100%;
  }

  .subBox {
    margin-top: 38vh;
    font-size: 9vw;
  }
}
.lbWrapper {
  min-height: 100vh;
  width: 100vw;
  margin-left: 0;
  overflow-y: auto;
}

.lbSubHead {
  margin-top: 25px;
  margin-left: auto;
  width: 100%;
  text-align: center;
  font-family: "BebasNeue Regular";
  color: #727272;
  font-size: 30pt;
}

.lightbox {
  width: 50%;
  margin: auto;
  display: block;
  overflow-x: scroll;
  text-align: center;
  border: 1px solid grey;
  padding: 15px;
}
.lightbox p {
  color: #9E9E9E;
  font-family: "BebasNeue Regular";
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 15px;
}

.lightbox a {
  width: 140px;
  height: 140px;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  object-fit: contain;
}

.galleryThumb {
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: none;
  transition: rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.galleryThumb:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: " ";
}

.galleryThumb:hover {
  background-color: rgba(255, 240, 97, 0.7);
}

#mgHead {
  display: inline-block;
}

.motionGraphicsWrapper {
  min-height: 100vh;
  background-color: white;
  margin-left: 0;
  overflow-y: auto;
}

@media only screen and (max-width: 400px) {
  .motionGraphicsWrapper {
    margin-top: 0px;
  }
}
.navbarSticky {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "DolceVita";
  letter-spacing: 1.5pt;
  height: 50px;
  position: fixed;
  padding: 5px;
  overflow: hidden;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 5;
  border-radius: 0;
  text-align: center;
}

.navChild {
  margin: auto;
  text-align: center;
  font-size: 12pt;
  word-wrap: break-word;
  width: 500px;
}

.pageJump {
  text-decoration: none;
  color: white;
  padding: 7px;
  border-radius: 15px;
  transition-duration: 0.2s;
}

.pageJump:visited {
  color: white;
}

.pageJump:hover {
  color: black;
  text-decoration: none;
  background-color: #F5CF1A;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 800px) {
  .navChild {
    font-size: 9pt;
  }
}
@media only screen and (max-width: 500px) {
  .navChild {
    font-size: 7.5pt;
  }
}
.btnWrap {
  margin-top: 100px;
}

.smoothScrl {
  background-color: none;
}

.scrlDwn {
  background-image: url("../../images/half-circle-btn-down.png");
}

.scrlDwn:hover {
  background-image: url("../../images/half-circle-btn-down_inv.png");
  background-position: center;
  transition: 0.3s ease-in-out;
}

.buttonParent {
  display: inline-block;
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.scrollBtn {
  display: inline-block;
  width: 240px;
  height: 120px;
  text-indent: -9999px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .scrlDwn {
    display: none;
  }

  .scrollBtn {
    display: none;
    width: 0;
    height: 0;
    background-size: 0;
  }

  .btnWrap {
    display: none;
    width: 0;
    height: 0;
  }
}
.vRowSpacer {
  margin-top: 30px;
}

.video-playerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 480px;
  padding: 15px;
  width: 100%;
  min-height: 400px;
  margin: 15px auto auto auto;
  background-color: #FCEFBB;
  border-radius: 15px;
  text-align: center;
}
.video-playerWrap .sampleTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "BebasNeue Bold";
  width: 100%;
  font-size: 22pt;
  border-radius: 10px;
  letter-spacing: 1px;
  background-color: #F5CF1A;
  color: black;
  height: 40px;
  margin-bottom: 10px;
}
.video-playerWrap .sampleTitle p {
  height: 60%;
  width: 100%;
}

.video-playerWrap_mg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  min-height: 300px;
  margin: 15px auto auto auto;
  background-color: #FCEFBB;
  border-radius: 15px;
}
.video-playerWrap_mg .sampleTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "BebasNeue Bold";
  font-size: 22pt;
  width: 100%;
  border-radius: 10px;
  letter-spacing: 1px;
  background-color: #F5CF1A;
  color: black;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.video-playerWrap_mg .sampleTitle p {
  height: 60%;
}
.video-playerWrap_mg .samplePar {
  text-align: center;
  font-family: "CenturyGothic Regular";
  margin-top: 15px;
  font-size: 11pt;
}

.video-playerWrap_mg--skinny {
  padding: 15px;
  width: 100%;
  min-height: 300px;
  margin: 15px auto auto auto;
  background-color: #FCEFBB;
  border-radius: 15px;
}
.video-playerWrap_mg--skinny .sampleTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "BebasNeue Bold";
  font-size: 17.5pt;
  width: 100%;
  border-radius: 10px;
  letter-spacing: 1px;
  background-color: #F5CF1A;
  color: black;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.video-playerWrap_mg--skinny .sampleTitle p {
  height: 60%;
}
.video-playerWrap_mg--skinny .samplePar {
  font-family: "CenturyGothic Regular";
  margin-top: 15px;
  font-size: 10pt;
  text-align: center;
}

.video-player__dimensions {
  max-height: 150px;
  max-width: 100%;
  width: 100%;
}

.videoRow {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.repBox {
  border: 1px solid #F5CF1A;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50%;
  min-height: 35px;
  background-color: white;
  border-radius: 15px;
  transition: 0.2s;
  margin-top: 15px;
}
.repBox a {
  font-size: 15px;
  color: grey;
  width: 100%;
  height: 100%;
}

.repBox:hover {
  background-color: grey;
  border: 1px solid grey;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.repBox:hover .repLink {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.repBox:active {
  background-color: black;
}

.repLink:active {
  color: #F9E075;
}

.text-carousel:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  background-color: none;
}

.text-carousel {
  font-family: "CenturyGothic Regular";
  width: 100%;
  min-height: 130px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-shadow: none;
}
.text-carousel h5 {
  font-family: "CenturyGothic Bold";
}

.text-carousel:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  background-color: none;
}

.carousel-content {
  color: black;
  align-items: center;
  width: 100%;
  text-shadow: none;
  font-size: 8pt;
  min-height: 130px;
}

.carousel-control {
  width: 5%;
  color: white;
  text-shadow: none;
  background-image: none !important;
  opacity: 1;
  z-index: 0;
}

.carousel-control:hover {
  color: grey;
  background-image: none !important;
  text-shadow: none;
}

.glyphicon:hover {
  color: grey;
  text-shadow: none;
}

@media only screen and (min-width: 1200px) {
  .carousel-content {
    font-size: 11.5pt;
  }
}
@media only screen and (max-width: 1200px) {
  .carousel-content {
    font-size: 8pt;
    min-height: 145px;
  }

  .text-carousel {
    min-height: 145px;
  }
}
@media only screen and (max-width: 767px) {
  .carousel-content {
    font-size: 12pt;
  }

  .video-playerWrap_mg--skinny p {
    font-size: 12pt;
  }
}
@media only screen and (max-width: 500px) {
  .carousel-content {
    font-size: 10.5pt;
  }
}

/*# sourceMappingURL=styles.css.map */
