.abmeWrapper {
  min-height: 100vh;
  background-color: white;
  margin-top: 25px;
  margin-left: 0;
  overflow-y: auto;
}

.textContain {
  margin-top: 15px;
  margin-left: 0;
  font-size: 14px;
  font-family: "CenturyGothic Regular";
}

.textContain .row {
  margin-left: 0;
}

#mePicHolder {
  height: 500px;
  background-repeat: no-repeat;
  background-image: url('../../images/me.jpg');
  background-size: 300px;
  background-position: top center;
}

#abmeHead {
  margin: 0;
}
