html, body {
  max-height: 100%;
  max-width: 100%;
}

h2 {
  margin: 0;
}

img {
  background-color: none;
  width: 100%;
}

.row {
  width: 100vw;
  margin-left: -15px;
  margin-right: -15px;
}

.gutter {
  height: 50px;
}

.sectionTitle {
  width: 100%;
  height: 15px;
  text-align: center;
}

//carousel content
.carousel-content {
    color: black;
    align-items: center;
    width: 100%;
    text-shadow: none;
    font-size: 9pt;
}

.text-carousel {
  width: 100%;
  min-height: 140px;
  margin-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-shadow: none;
}

.carousel-control {
  color: #D4D4D4;
  background-image: none !important;
  text-shadow: none;

}

.carousel-control:hover {
  color: #F5CF1A;
  background: none;
  text-shadow: none;
}


//end of carousel content


@font-face {
  font-family: "BebasNeue Light";
  src: url("../fonts/BebasNeueLight.ttf")format("truetype");
}

@font-face {
  font-family: "BebasNeue Regular";
  src: url("../fonts/BebasNeueRegular.ttf")format("truetype");
}

@font-face {
  font-family: "BebasNeue Bold";
  src: url("../fonts/BebasNeueBold.ttf")format("truetype");
}

@font-face {
  font-family: "DolceVita";
  src: url("../fonts/DolceVita.ttf")format("truetype");
}

@font-face {
  font-family: "DecoTech";
  src: url("../fonts/DecoTech.ttf")format("truetype");
}

@font-face {
  font-family: "DecoTechTL";
  src: url("../fonts/DecoTechTL.ttf")format("truetype");
}



// @font-face {
//   font-family: "bignoodletoooblique";
//   src: url("fonts/bignoodletoo.woff")format('woff'),
//        url("fonts/bignoodletoo.ttf")format('truetype');
// }
