#codTop {
  width: 100%;
  height: 50px;
  // background-color: blue;
}

#codHeader p {
  margin-top: 15px;
  padding: 2px;
}

#codHRow {
  min-height: 130px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
}
