.codWrapper {
  height: 100vh;
  background-color: white;
  margin-top: 50px;
}

#codText {
  width: 100%;
  margin: auto;
  text-align: center;
}

#gitLink {
  color: red;
  text-decoration: none;
}

#gitLink:visited {
  color: red;
}

#gitLink:hover {
  color: black;
}
