.contactWrapper {
  font-family: 'CenturyGothic Regular';
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  background-color: #2D2D2D;
  margin-left: 0;
  text-align: center;
  color: white;
  overflow: hidden;
  padding: 5px;

  .sectionTitle {
    margin-bottom: 0;
  }

  p {
    word-wrap: break-word;
  }

  ul {
    padding-left: 0;
    word-wrap: break-word;
  }

  a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
  }

  a:hover {
    color: #F5CF1A;
  }
}

.contTitle {
  font-family: 'CenturyGothic Bold';
  font-size: 16pt;
}

.contLiPad {
  margin-top: 15px;
}

.coSoonTitle {
  font-size: 16pt;
  font-family: 'CenturyGothic Bold';
}

.coSoonBox {
  border: 1px solid white;
  width: 20%;
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 35px;
}

// @media only screen and (max-width: 769px), screen and (max-height: 1025px) {
//   .contactWrapper {
//     height: 60vh;
//   }
// }

@media only screen and (max-width: 1050px), screen and (max-height: 1400px) {
  .contactWrapper {
    min-height: 55vh;
  }
}

@media only screen and (max-width: 415px) {
  .contactWrapper {
    height: 100vh;
  }

  .contTitle {
    font-size: 10pt;
  }

  .contLiPad {
    margin-top: 10px;
  }

  .coSoonTitle {
    font-size: 10pt;
  }

  .coSoonBox {
    min-width: 80%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 35px;
  }
}
