$logo-img: url('../../images/logo-me-big.png');

.header {
  background-color: #F5CF1A;
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;
}

.header_parallax {
  background-image: $logo-img;
  background-attachment: fixed;
  background-position: center top 55%;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  max-width: 100%;
}

.nameBox {
  font-family: "DecoTech";
  display: flex;
  float: left;
  flex-direction: column;
  width: 375px;
  text-align: right;
  margin-left: 12%;
  margin-top: 20%;
}

.nameHead {
  width: 100%;
  font-size: 7vw;
  margin: 0;
}

.subBox {
  font-family: "DolceVita";
  display: flex;
  flex-direction: column;
  width: 300px;
  float: right;
  margin-right: 20%;
  margin-top: 23%;
}

.titleSubH {
  font-size: 3vw;
  margin: 0;
}

#warning {
  font-size: 25px;
  margin-top: 70px;
  margin-left: auto;
  text-align: center;
}
