$logo-img: url('../../images/logo-me-big.png');

.header {
  background-image: $logo-img;
  background-color: #F5CF1A;
  height: 55vw;
  overflow: auto;
}

.header_parallax {
  background-attachment: fixed;
  background-position: center top 55%;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

.nameBox {
  display: inline-flex;
  flex-direction: column;
  width: 375px;
  text-align: right;
  margin-left: 10%;
  margin-top: 150px;
}

.nameHead {
  width: 100%;
  font-size: 5vw;
  margin: 0;
}

.subBox {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 15%;
  margin-top: 165px;
}

.titleSubH {
  font-size: 3vw;
  margin: 0;
}

#warning {
  font-size: 25px;
  margin-top: 70px;
  margin-left: auto;
  text-align: center;
}
