.lbWrapper {
  min-height: 100vh;
  width: 100vw;
  margin-left: 0;
  overflow-y: auto;
}

.lbSubHead {
  margin-top: 25px;
  margin-left: auto;
  width: 100%;
  text-align: center;
  font-family: "BebasNeue Regular";
  color: #727272;
  font-size: 30pt;
}

.lightbox {
  width: 50%;
  margin: auto;
  display: block;
  overflow-x: scroll;
  text-align: center;
  border: 1px solid grey;
  padding: 15px;

  p {
    color: #9E9E9E;
    font-family: "BebasNeue Regular";
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 15px;
  }
}

.lightbox a {
  width: 140px;
  height: 140px;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  object-fit: contain;
}

.galleryThumb {
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: none;
  transition: rgba(0,0,0,.1);
  transition-duration: .3s;
}

.galleryThumb:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

.galleryThumb:hover {
  background-color: rgba(255, 240, 97, .7);
}
