.lightbox {
  width: 100%;
  margin: auto;
  display: flex;
  overflow-x: scroll;
}

.lightbox-gal__img {
  margin: 5px;
  object-fit: contain;
}

.lightbox::-webkit-scrollbar {
    width: 2px;
}

.lightbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

.lightbox::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}
