.lbWrapper {
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.lbSubHead {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.lightbox {
  margin: auto;
  display: block;
  overflow-x: scroll;
  text-align: center;
}

.lightbox a {
  width: 140px;
  height: 140px;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  object-fit: contain;
}
