$fullsize: 50px;

.navbarSticky {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  height: $fullsize;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 5;
}

.navChild {
  margin: auto;
}

.pageJump {
  text-decoration: none;
  color: white;
}

.pageJump:visited {
  color: white
}

.pageJump:hover {
  color: #F5CF1A
}
