// $upBt: url('../../images/half-circle-btn-up.png');
$dnBt: url('../../images/half-circle-btn-down.png');
$dnBt_inv: url('../../images/half-circle-btn-down_inv.png');

#headBtn {
  margin-top: 85vh;
}

.btnWrap {
  margin-top: 100px;
}

.smoothScrl {
  background-color: none;
}

.scrlDwn {
  background-image: $dnBt;
}

.scrlDwn:hover {
  background-image: $dnBt_inv;
  transform: scale(1.15);
  transform-origin: bottom center;
  transition: .3s ease-in-out;
}

.scrollBtn {
  margin: auto;
  display: block;
  width: 250px;
  height: 120px;
  text-indent: -9999px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: .2s ease-in-out;
}

#lbButton {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {

  .scrlDwn {
    display: none;
  }

  .scrollBtn {
    display: none;
    width: 0;
    height: 0;
    background-size: 0;
  }

  .btnWrap {
    display: none;
    width: 0;
    height: 0;
  }
  .btnWrap {
    display: none;
  }
}
