// $upBt: url('../../images/half-circle-btn-up.png');
$dnBt: url('../../images/half-circle-btn-down.png');
$dnBt_inv: url('../../images/half-circle-btn-down_inv.png');

// #headBtn {
//   margin-top: 85vh;
// }

.btnWrap {
  margin-top: 100px;
}

// .btnWrap2 {
//   margin-top: 70px;
// }
//
// .btnWrap3  {
//   margin-top: 10px;
// }

.smoothScrl {
  background-color: none;
}

.scrlDwn {
  background-image: $dnBt;
}

.scrlDwn:hover {
  background-image: $dnBt_inv;
  background-position: center;
  transition: .3s ease-in-out;
}

.buttonParent {
  display: inline-block;
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.scrollBtn {
  display: inline-block;
  width: 240px;
  height: 120px;
  text-indent: -9999px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s ease-in-out;
  text-decoration: none;
  margin: auto;
}


// @media only screen and (max-width: 1300px) {
//
//   .scrollBtn {
//     margin-top: 40px;
//   }
// }


// @media only screen and (max-width: 1200px) {
//
//   .scrollBtn {
//     margin-top: 50px;
//     width: 246px;
//   }
// }
//
// @media only screen and (max-width: 1000px) {
//
//   .scrollBtn {
//     margin-top: 60px;
//   }
// }
//
// @media only screen and (max-width: 900px) {
//
//   .scrollBtn {
//     margin-top: 70px;
//   }
// }

@media only screen and (max-width: 767px) {

  .scrlDwn {
    display: none;
  }

  .scrollBtn {
    display: none;
    width: 0;
    height: 0;
    background-size: 0;
  }

  .btnWrap {
    display: none;
    width: 0;
    height: 0;
  }
}
