.vRowSpacer {
  margin-top: 30px;
}

.video-playerWrap {
  max-width: 480px;
  padding: 15px;
  width: 100%;
  min-height: 400px;
  display: inline-block;
  margin: auto;
  background-color: #FCEFBB;
  // background-color: #F7E492;
  border-radius: 15px;

  h3 {
    font-family: "BebasNeue Bold";
    font-size: 25pt;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #F5CF1A;
    color: black;
    height: 40px;
    margin-top: 0;
    line-height: 150%;
  }
}

.video-player__dimensions {
  max-height: 150px;
  max-width: 100%;
}

.videoRow {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.repBox {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50%;
  min-height: 35px;
  // background-color: #F5CF1A;
  background-color: white;
  border-radius: 15px;
  transition: .2s;
  margin-top: 15px;

  a {
    font-size: 15px;
    color: grey;
    width: 100%;
    height: 100%;
  }
}

.repBox:hover {
  background-color: grey;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;

    .repLink {
      color: white;
      text-decoration: none;
      transition: .2s;
    }
}

.repBox:active {
  background-color: black ;
}

.repLink:active {
  color: #F9E075;
}
// .repLink {
//   display: inline-block;
//   color: white;
//   text-decoration: none;
//   margin: auto;
//   width: 100%;
//   height: 100%;
//   font-size: 15pt;
//   transition: .2s;
// }

// .repLink:visited {
//   color: yellow;
// }

//carousel content

.text-carousel:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  background-color: none;
}

.text-carousel {
  width: 100%;
  min-height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-shadow: none;
}

.text-carousel:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  background-color: none;
}

.carousel-content {
  color: black;
  align-items: center;
  width: 100%;
  text-shadow: none;
  font-size: 9pt;
  min-height: 80px;
}

// .left .right {
//   color: #F5CF1A;
//   background-image: none !important;
//   text-shadow: none;
// }
//
// .left:hover, .right:hover {
//   color: #F5CF1A;
//   background-image: none !important;
//   text-shadow: none;
// }

.carousel-control {
  width: 5%;
  color: white;
  text-shadow: none;
  background-image: none !important;
  opacity: 1;
}

.carousel-control:hover {
  color: grey;
  background-image: none !important;
  text-shadow: none;
}
//
.glyphicon:hover {
  color: grey;
  text-shadow: none;
}
//end of carousel content
