.video-player {
  width: 100%;
  display: inline-flex;
}

.video-player__dimensions {
  max-height: 150px;
}

.videoRow {
  align-content: center;
  text-align: center;
  height: 32vh;
}

.repLink {
  color: white;
  text-align: center;
  background-color: orange;
  padding-left: 155px;
  padding-right: 155px;
  display: inline-block;
  text-decoration: none;
  margin: auto;
}
