:root {
    --svg-icon-newTab: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z' /%3E%3C/svg%3E");
}

.svg-icon {
    display: block;
    content: '';
    height: 24px;
    line-height: 1;
    font-size: 1rem;
    margin-bottom: .75rem;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 5% center;
    padding-left: 2.25rem;
}

.svg-icon-reverse {
    display: block;
    content: '';
    line-height: 1;
    font-size: 1rem;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-right: 2.25rem;
}

.btn-icon::before {
    display: inline-block;
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-top;
    -webkit-mask-size: 1.25rem 1.25rem;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top;
    mask-size: 1.25rem 1.25rem;
    mask-repeat: no-repeat;
    mask-position: left top;
    background-color: #242121;
}

.btn-icon-reverse::after {
    display: inline-block;
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-top;
    -webkit-mask-size: 1.25rem 1.25rem;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: right top;
    mask-size: 1.25rem 1.25rem;
    mask-repeat: no-repeat;
    mask-position: right top;
    background-color: #242121;
}

.svg-icon-newTab {
    background-image: var(--svg-icon-newTab);
}

.btn-icon-newTab::before {
    -webkit-mask-image: var(--svg-icon-newTab);
    mask-image: var(--svg-icon-newTab);
}

.btn-icon-reverse.btn-icon-newTab::after {
    -webkit-mask-image: var(--svg-icon-newTab);
    mask-image: var(--svg-icon-newTab);
}